/* Color scheme:
#000000
#404040
#E61919 - accent
#BFBFBF
#FFFFFF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aoboshi One', serif;
  /* border: 1px solid red; */
}

body {
  background-color: #404040 ;
  color: #000000;
}

header {
  text-align: center;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 5vh; */
  background-color: #FFFFFF;
  position: sticky;
  top: 0px;
  border-bottom: 4px #E61919 solid;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid transparent;
  transition: 350ms ease-in-out;
}

header h1 {
  font-size: 3rem;
  text-align: left;
}

.textAccent {
  color: #E61919;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

nav li {
  padding: 10px 5px;
  width: 130px;
  transition: 350ms ease-in-out;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
}

nav a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}

nav li:hover {
  background-color: #404040;
  color: #FFFFFF;
  border: 2px solid #E61919;
  box-shadow: 5px 5px rgba(64, 64, 64, 0.5);
}

header img:hover {
  border: 2px solid #E61919;
  box-shadow: 5px 5px rgba(64, 64, 64, 0.5);
}

.activePage {
  background-color: #404040;
  color: #BFBFBF;
  border: 2px solid #E61919;
  box-shadow: 5px 5px rgba(64, 64, 64, 0.5);
}

@media only screen and (max-width: 1050px) {
  
  header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  header h1 {
    text-align: center;
    }

}

main {
  width: 95%;
  margin: 0 auto;
  background-color: #BFBFBF;
}

#imageContainer {
  background-image: url(../images/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px; */
}

#imageContainer h2 {
  background-color: #FFFFFFe6;
}

main h2 {
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 50px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2rem;
}

main p {
  font-size: 1.25rem;
}

#aboutMeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 25px;
}

#aboutMeContainer img {
  max-width: 450px;
  width: 40%;
  border: #404040 2px solid;
}

#aboutMeParagraph {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutMeParagraph p {
  margin-bottom: 3rem;
}

.buttonPrimary {
  background-color: #404040;
  color: #FFFFFF;
  border: 2px solid #E61919;
  box-shadow: 5px 5px rgba(64, 64, 64, 0.5);
  padding: 10px 5px;
  width: 130px;
  transition: 350ms ease-in-out;
  border-radius: 5px;
  text-transform: uppercase;
  box-sizing: content-box;
  font-size: 0.9rem;
}

#aboutMeParagraph a {
  text-decoration: none;
  color: #FFFFFF;
}

#aboutMeParagraph button {
  margin-bottom: 3rem;
}

.buttonPrimary:hover {
  box-shadow: 5px 5px transparent;
}

@media only screen and (max-width: 680px) {

  #aboutMeContainer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #aboutMeContainer img {
    width: 75%;
    margin-bottom: 25px;
  }

  #aboutMeParagraph {
    text-align: center;
    width: 75%;
  }

}

#myPortfolio {
  width: 100%;
  background-color: hsla(0, 0%, 25%, 0.25);
  padding: 50px, 0;
  /* margin-bottom: 50px; */
}

#myPortfolio a {
  text-decoration: none;
  color: #000000;
}

#myPorfolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 25px;
}

#myPorfolioContainer a {
  width: 30%;
  height: 30vh;
  min-width: 350px;
  background-size: cover;
  border: #404040 2px solid;
  box-shadow: 5px 5px rgba(64, 64, 64, 0.5);
  transition: 350ms ease-in-out;
  margin: 25px;
}

#myPorfolioContainer a:hover {
  color: #E61919;
  box-shadow: 5px 5px transparent;
  border: #E61919 2px solid;
}

#project1 {
  background-image: url(../images/spreadsheet-g7d23d4b6e_640.jpg);
}

#project2 {
  background-image: url(../images/pexels-pixabay-274937.jpg);
}

#project3 {
  background-image: url(../images/pexels-cottonbro-studio-5474300.jpg);
  
}

#myPorfolioContainer h3 {
  padding: 25px;
}

#contactMe {
  padding-bottom: 50px;
}

#contactMeContainer {
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

#contactMeContainer img {
  width: 150px;
  max-height: 150px;
}

#contactMeContainer p {
  margin-bottom: 25px;
  text-align: center;
}

#contactMeParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

footer {
  padding: 20px 50px;
  min-height: 150px;
  border-top: #E61919 4px solid;
  background-color: #000000;
  color: #FFFFFF;
}

#footerContainer {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 620px) {

  #footerContainer {
    flex-direction: column;
    align-items: center;
  }

  #footerContainer p {
    margin-top: 25px;
  }

}